@charset "utf-8";

// Common vars
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$navbar-background-color: $beige-light;
$body-background-color: $beige-lighter;
$box-radius: 4px;

// Import Bootstrap
@import "../lib/bootstrap/scss/bootstrap";

// Vars
$reveal-shadow-color: yellow;
$reveal-shadow-size: 5px;
$reveal-shadow-spread: 20px;

$poker-card-shadow-color: #666;
$poker-card-shadow-size: 2px;
$poker-card-shadow-spread: 8px;

//$bg-body: #eff0eb;
//
//body {
//    background-color: $bg-body !important;
//}

#main-content{
    margin-top: 2em;
}

// App imports
// ... General components
@import 'common';
//@import 'circle-progress/circle';
@import 'reveal';
//@import 'blazor-integration';

// ... Specific
@import 'poker-status-panel';
//@import 'online-list';
@import 'poker-card';
@import 'estimated-card';
@import 'user-card';
@import 'preview-card';
@import 'poker-progress';
@import 'session-overview-table';


.validation-message{
    color: $danger;
    font-size: $small-font-size;
}

.table > :not(caption) > * > * {
    padding: 0;
}

th,td{
    padding: 0.5em !important;
}

#components-reconnect-modal{
  background-color: $body-bg !important;
}

@include color-mode(dark) {
  #components-reconnect-modal{
    background-color: $body-bg-dark !important;
  }
}